APP_NAME="RFID Door Platform"
APP_ENV=development
APP_DEBUG=True
APP_HOST=127.0.0.1
APP_PORT=8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=60

DIRECTORY_PATH_STATIC_FILE="app/static"
DIRECTORY_PATH_TEMPLATE_FILE="app/templates"